services:
  sensor_node:
    build:
      context: ./docker/realsense_node
      dockerfile: Dockerfile
    container_name: realsense_node
    restart: unless-stopped
    privileged: true
    network_mode: host
    ipc: host # Keep host IPC for local driver access, but we will disable SHM in XML
    volumes:
      - /dev:/dev
      - ./pc1_peers.xml:/tmp/fastdds_profiles.xml:ro
    environment:
      - ROS_DOMAIN_ID=42
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - FASTDDS_DEFAULT_PROFILES_FILE=/tmp/fastdds_profiles.xml
      - RMW_FASTRTPS_USE_XML_FILE=/tmp/fastdds_profiles.xml
    command: ros2 launch realsense2_camera rs_launch.py pointcloud.enable:=false align_depth.enable:=true enable_sync:=true

  gpu_client:
    build:
      context: ./docker/gpu_client
      dockerfile: Dockerfile
    container_name: gpu_client
    restart: unless-stopped
    network_mode: host
    ipc: host
    volumes:
      - ./pc2_peers.xml:/tmp/fastdds_profiles.xml:ro 
    environment:
      - ROS_DOMAIN_ID=42
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - FASTDDS_DEFAULT_PROFILES_FILE=/tmp/fastdds_profiles.xml
      - RMW_FASTRTPS_USE_XML_FILE=/tmp/fastdds_profiles.xml
    command: bash -c "source /opt/ros/foxy/setup.bash && tail -f /dev/null"